.back {
  margin-bottom: 37px;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.title {
  margin-bottom: 48px;
}

.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.password {
  margin-top: 48px;
}

.input {
  width: 528px;
}

.button {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-top: 60px;
}

.saveBut {
  margin-right: 32px ;
}

