@import url("https://fonts.cdnfonts.com/css/helios-antique");

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Helios Antique", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a8a8a8;
  margin-top: 72px;
}

.theme {
  display: flex;
}

.button {
  padding: 8px 20px;
  background-color: var(--button-color);
  border: none;
  color:#fff;
}
